footer {
    display: grid;
}
.communication {
    background: var(--color-background-footer);
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}
.case {
    width: 25%;
    margin: 2em;
}
.case h3 {
    color: var(--color-white);
}

.definition {
    margin-top: 2em;
    color: var(--color-text);
    line-height: 1.4;
}
#Email {
    text-transform: none;
}
.definition .underline {
    color:var(--color-highlight);
    border-bottom: 1px solid var(--color-underline);
}

#next {
    color:var(--color-highlight); 
    text-align: end;
}

.submit {
    height: 32px;
    margin-bottom: 1.5em;
    background-color: var(--color-underline);
    border: none;
    border-radius: 10px;
    padding-left: 1em;
    color: var(--color-white);
}

.submit ::placeholder {
   color: var(--color-submit-placeholder); 
}

.input-submit {
    height: 32px;
    width: 80px;
    background-color: var(--color-highlight);
    border-radius: 10px;
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: bold;
}
.copyright {
    height: 4em;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-copyright);
    color: var(--color-text);
}
.copyright p {
    margin: auto 1.5em;
    text-transform: capitalize;
}