footer {
    display: grid;
    width: 100%;
}
.communication {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: var(--color-background-footer);
    text-transform: capitalize;
}
.case {
    width: 260px;
    padding: 2em 0 2em 2em;
}

.case:last-child {
    padding-right: 2em;
}
.case h3 {
    color: var(--color-white);
}

.definition {
    margin-top: 2em;
    line-height: 1.4;
    color: var(--color-text);
}

.definition .underline {
    color:var(--color-highlight);
    border-bottom: 1px solid var(--color-underline);
}

.submit {
    width: 220px;
    height: 32px;
    margin-bottom: 1.5em;
    padding-left: 1em;
    color: var(--color-white);
    background-color: var(--color-underline);
    border: none;
    border-radius: 10px;
}

.submit ::placeholder {
   color: var(--color-submit-placeholder); 
}

.input-submit {
    width: 80px;
    height: 32px;
    color: var(--color-white);
    background-color: var(--color-highlight);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.copyright {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4em;
    color: var(--color-text);
    background-color: var(--color-copyright);   
}

.copyright p {
    margin: auto 1.5em;
    text-transform: capitalize;
}

.ref {
    color: var(--color-highlight);
    text-decoration: none;
}

.read-more {
    padding-top: 0.8em;
    float: right;
}

@media screen and (max-width: 635px) {
    .case:last-child {
        padding-right: 0;
    }
}