header {
    display: grid;
    width: 100%;
    border-top: 20px solid var(--color-highlight);
    border-bottom: 1px solid var(--color-bottom-border);
}

.line {
    display: flex;
    width: 100%;
    justify-content: space-between;  
}

.link {
    height: 32px;
    margin: 0;
    padding: 2em 1.5em 0 2em;
    cursor: pointer;
}

.link__icon {
    display: inline-block;
    margin-right: 0.5em;
}

.linkedin {
    width: 32px;
    height: 32px;
    background: url(linkedin.png);
}

.linkedin:hover {
    background: url(linkedin-cursor.png);
}

.twitter {
    width: 32px;
    height: 32px;
    background: url(twitter.png);  
}

.twitter:hover {
    background: url(twitter-cursor.png);
}

.pinterest {
    width: 32px;
    height: 32px;
    background: url(pinterest.png);
}

.pinterest:hover {
    background: url(pinterest-cursor.png);
}

.google {
    width: 32px;
    height: 32px;
    background: url(google.png);   
}

.google:hover {
    background: url(google-cursor.png);
}

.wifi {
    width: 32px;
    height: 32px;
    background: url(wifi.png); 
}

.wifi:hover {
    background: url(wifi-cursor.png);
}

.search-form {
    margin: 0;
    padding-right: 2em;
}

.input {
    height: 32px;
    padding-left: 1em;
    color: var(--color-white);
    background-color: var(--color-dark-grey);
    border: none;
    border-radius: 10px;
    text-transform: capitalize; 
}

.input::-webkit-input-placeholder { 
    color: var(--color-white);
}

.button {
    width: 80px;
    height: 32px;
    color: var(--color-white);
    background-color: var(--color-highlight);
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.logo {
    margin: 0em;
    padding: 2em;
    color: var(--color-text);
    text-transform: capitalize;
}

.logo h1 {
    color: var(--color-caption);
}

.top-navigation {
    margin: 0;
    padding-top: 2em;
    padding-right: 2em;        
}

.item {
    display: inline-block;
    margin-top: 2.3em;
    margin-left: 1em;
    color: var(--color-text);
    text-transform: uppercase;
    text-decoration: none;
}
.item + .item {
    margin-left: 2em;
}

@media screen and (max-width: 1035px) {
    .item + .item {
        margin-left: 0.5em;
    }
}

@media screen and (max-width: 915px) {
    .link, .search-form, .top-navigation {
      display: none;
    }
}

.c-hamburger {
    position: relative;
    display: none;
    width: 96px; 
    height: 96px;
    margin: 7px;
    padding: 0;
    border: none;
    cursor: pointer;
}
 
.c-hamburger:focus, input:focus, button:focus {
  outline: none;
}

.c-hamburger span {
    position: absolute;
    display: block;
    top: 44px;
    right: 20px;
    left: 20px;
    height: 6px;
    background: var(--color-text);
}
   
.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--color-text);
    content: "";
}
   
.c-hamburger span::before {
    top: -15px;
}
   
.c-hamburger span::after {
    bottom: -15px;
}
.c-hamburger--rot {
    background-color: var(--color-white) ;
}
   
@media screen and (max-width: 915px) {
    .c-hamburger {
      display: block;
    }
}