.slider {
    display: inline-flex;
    padding: 2em;
    border-bottom: 1px solid var(--color-bottom-border); 
    justify-content: space-between;       
}

.monitor {
    
} 

.title-here {
    padding-top: 2em;
    padding-left: 4em;
}

.caption {
    text-transform: uppercase;
    font-size: 2.5em;
    color: var(--color-caption);
}

.description {
    padding-top: 1.3em;
    padding-right: 5em;
    line-height: 1.4;
    font-size: 1.1em;
    color: var(--color-text);
}

.more-info {
    margin-top: 2em;
    height: 34px;
    width: 120px;
    background-color: var(--color-highlight);
    border-radius: 10px;
    text-transform: uppercase;
    color: var(--color-white);
    cursor: pointer;
}

.more-info:focus {
    outline: none;
  }

.controls {
    /*почему не сработал  justify-content: right;*/
    /* margin-left: 23em; */
    display: flex;
    justify-content: flex-end;
    margin-top: 4em;
}

.dot {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--color-highlight);
    margin-right: 3px;
}

.dot + .dot {
    margin-left: 3px;
}

@media screen and (max-width: 1045px) {
    .controls {
        display: none;
    }
}

@media screen and (max-width: 920px) {
    .title-here {
        padding-top: 1em;
    }

    .monitor {
        width: 300px;
        height: 238px;
    }

    .caption {
        font-size: 2em;
    }

    .description {
        font-size: 0.9em;
        padding-top: 1em;
    }

    .more-info {
        margin-top: 1em;
    }
}

@media screen and (max-width: 750px) {
    .slider {
        display: grid;
    }
    .title-here {
        padding-top: 2.5em;
        padding-right: 4em;
        text-align: center;
    }
    .description {
        padding: 2em 0 0 0;
    }
}