:root {
    --color-caption: #4a4a4a;
    --color-highlight: #3bafbe;
    --color-text: #999999;
    --color-dark-grey: #333333;
    --color-white: #ffffff;
    --color-bottom-border: #e2e2e2;
    --color-rectangle: #353535;
    --color-grey: #666666;
    --color-border: #d8d8d8;
    --color-title: #848c92;
    --color-background-footer: #252525;
    --color-underline: #2c2c2c;
    --color-submit-placeholder: #989898;
    --color-copyright: #1a1a1a;
}

* {
    margin: 0;
    box-sizing: content-box;
}

.container {
    margin: 0 auto;
    display: block;
    max-width: 1200px;
    width: 100%;
}
header {
    display: grid;
    border-top: 20px solid var(--color-highlight);
    border-bottom: 1px solid var(--color-bottom-border);
}

.social {
    margin: 2em 1.5em 0 2em;
    width: 20em;
    height: 32px;
}

.icon {
    margin-right: 0.5em;
    display: inline-block;
}

div .linkedin {
    background: url(linkedin.png);
    height: 32px;
    width: 32px;
}

div .linkedin:hover {
    background: url(linkedin-cursor.png);
}
div .twitter{
    background: url(twitter.png);
    height: 32px;
    width: 32px;
}
div .twitter:hover {
    background: url(twitter-cursor.png);
}
div .pinterest {
    background: url(pinterest.png);
    height: 32px;
    width: 32px;
}
div .pinterest:hover {
    background: url(pinterest-cursor.png);
}

div .google {
    background: url(google.png);
    height: 32px;
    width: 32px;
}

div .google:hover {
    background: url(google-cursor.png);
}
div .wifi {
    background: url(wifi.png);
    height: 32px;
    width: 32px;
}

div .wifi:hover {
    background: url(wifi-cursor.png);
}


.search-form {
    margin: 2em 2em 0 1.5em;
    justify-content: right;
}
.search {
    height: 32px;
    background-color: var(--color-dark-grey);
    border: none;
    border-radius: 10px;
    text-transform: capitalize;
    padding-left: 1em;
    color: var(--color-white);
}

.search::-webkit-input-placeholder { 
    color: var(--color-white);
}

.button {
    height: 32px;
    width: 80px;
    background-color: var(--color-highlight);
    border-radius: 10px;
    text-transform: uppercase;
    color: var(--color-white);
}
.line{
    display: flex;
    justify-content: space-between;
    
}
.logo {
    margin: 2em;
    color: var(--color-text);
    text-transform: capitalize;

}
.logo h1 {
    color: var(--color-caption);
}

.top-navigation {
    margin: 2em 2em 2em 0;
    justify-content: right;        
}
.nav {
    display: inline-block;
    margin-top: 2.3em;
    margin-left: 1em;
    text-transform: uppercase;
    color: var(--color-text);
}

.slider {
    display: grid;
   
    border-bottom: 1px solid var(--color-bottom-border);        
}

.block {
  
    display: flex;
    justify-content: space-between;
}
.monitor {
    margin: 2em;
} 

.title-here {
    height: 250px;
    margin: 5em 1.5em 0 3em;
}

.caption {
    text-transform: uppercase;
    font-size: 2.5em;
    color: var(--color-caption);
}

.description {
    margin: 1.3em 0;
    line-height: 1.4;
    color: var(--color-text);
}
.more-info {
    margin-top: 2em;
    height: 34px;
    width: 120px;
    background-color: var(--color-highlight);
    border-radius: 10px;
    text-transform: uppercase;
    color: var(--color-white);
}

.controls {
    /*почему не сработал  justify-content: right;*/
    /* margin-left: 23em; */
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;
}
.dot {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--color-highlight);
    /* margin-right: 3px; */
}

.dot + .dot {
    margin-left: 3px;
}
.intro {
    
    display: grid;
    
    border-bottom: 1px solid var(--color-bottom-border);        
}
.block-2 {
    display: flex;
    justify-content: space-between;

}
.box{
    margin: 2em 0;
}


.headline {
    margin-top: 1.5em;
    text-transform: uppercase;
    color: var(--color-caption);
}

.titles {
    display: grid;
}

.titles h3 {
    margin: 2em auto 0 auto;
    width: 800px;
    color: var(--color-grey);
    font-style: oblique;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.5;
}

.service {
    width: 30%;
    height: 6em;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}
.one {
    margin-left: 2em;
}

.two {
    margin-left: 1em;
    margin-right: 1em;
}
.three {
    margin-right: 2em;
}

.rectangle {
   border: 8px solid var(--color-white);
   outline: 2px solid var(--color-border);
   top: 5.5%; /*поработай над */
   left: 5.5%;  /*этим*/
   width: 5em;
   height: 5em;
   background-color: var(--color-dark-grey);
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--color-white);
}
.title-bottom {
    width: 15em;
    margin-left: 1em;
}
.title-bottom p:first-child {
    margin: 0 auto 0.5em;
    color: var(--color-highlight);
    text-transform: capitalize;
}

.title-bottom p {
    color: var(--color-title);  
    line-height: 1.1;  
}
.shout {
    display: flex;
    justify-content: space-between;

}
.services {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}
footer {
    display: grid;
}
.communication {
    background: var(--color-background-footer);
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}
.case {
    width: 25%;
    margin: 2em;
}
.case h3 {
    color: var(--color-white);
}

.definition {
    margin-top: 2em;
    color: var(--color-text);
    line-height: 1.4;
}
#Email {
    text-transform: none;
}
.definition .underline {
    color:var(--color-highlight);
    border-bottom: 1px solid var(--color-underline);
}

#next {
    color:var(--color-highlight); 
    text-align: end;
}

.submit {
    height: 32px;
    margin-bottom: 1.5em;
    background-color: var(--color-underline);
    border: none;
    border-radius: 10px;
    padding-left: 1em;
    color: var(--color-white);
}

.submit ::placeholder {
   color: var(--color-submit-placeholder); 
}

.input-submit {
    height: 32px;
    width: 80px;
    background-color: var(--color-highlight);
    border-radius: 10px;
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: bold;
}
.copyright {
    height: 4em;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-copyright);
    color: var(--color-text);
}
.copyright p {
    margin: auto 1.5em;
    text-transform: capitalize;
}