.title {
    display: grid;
}

.top h3 {
    display: flex;
    margin: 2em auto 0 auto;
    color: var(--color-grey);
    font-style: oblique;
    font-size: 1.3em;
    line-height: 1.5;
    text-align: center; 
}

.service {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2em 2em 2em;
}

.part {
    display: flex;
    justify-content: space-between;
    width: 355px;
    height: 6em;
    padding-top: 2em;
}

.rectangle {
   top: 5.5%; 
   left: 5.5%;
   display: flex;
   justify-content: center;
   width: 5em;
   height: 5em;
   align-items: center; 
   color: var(--color-white);
   background-color: var(--color-dark-grey);
   border: 8px solid var(--color-white);
   outline: 2px solid var(--color-border);  
}

.title-bottom {
    width: 15em;
    margin-left: 1em;
}

.title-bottom p:first-child {
    margin: 0 auto 0.5em;
    color: var(--color-highlight);
    text-transform: capitalize;
}

.title-bottom p {
    color: var(--color-title);  
    line-height: 1.1;  
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 0 12em;

}

@media screen and (max-width: 800px) {
    .top {
        padding: 0 8em;
    }

    .title h3 {
        font-size: 1em;        
    }
}
