:root {
    --color-background: #e3ed8e;
    --color-canvas: #ffffff;
    --color-button: #a89f52;
    --color-button-active: #5e592c;
    --color-desabled-font: #afac8c;
    --color-desabled-button: #5b5948;
    --color-cover: #000000;
    --color-form: #a87252;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-background);
    box-sizing: content-box;
}
.container {
    display: flex;
}

.myCanvas {
    display: block;
    float: left;
    max-width: 900px;
    margin: 5em 0 0 7em;
    background-color: var(--color-canvas);
    cursor: crosshair;
}

.container-button {
    margin: auto;
}

.button {
    display: block;
    width: 10em;
    height: 3em;
    margin-bottom: 2em;
    color: #f7f2c5;
    background-color: var(--color-button);
    border: none;
    border-radius: 1.5em; 
}

.button:active {
    background-color: var(--color-button-active);
}

.button:focus {
    outline: none;
}

.button-delete:disabled {
    color: var(--color-desabled-font);
    background-color: var(--color-desabled-button);
}

.cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: var(--color-cover);
    opacity: 0.8;
}

.dialog_window {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

.dialog_window:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
}

.form {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 250px;
    padding: 5px;
    vertical-align: middle;
    background-color: var(--color-form);
    border: 1px solid white;
    border-radius: 3em; 
}

.button-close {
    float: right;
    height: 32px;
    width: 32px;
    margin-top: 1em;
    margin-right: 1em;
    background-color: var(--color-form);
    background-image: url(icons/close.png);
    border: none;
    cursor: pointer;
}

.message {
    margin-top: 3em;
    font-size: 2em;
}