:root {
    --color-background: #ac7ec9;
    --color-text: #fcf7ff;
    --color-highlight-text: #703b91;
}
   

body {
	background-color: var(--color-background);
}

.container {
	display: block;
    max-width: 1024px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    
}
.player, .about-song {
	display: flex;
	justify-content: space-between;
	height: 16px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3em; 
	color: var(--color-text);
}

.song-slider {
	width: 300px;
	cursor: pointer;
}

.volumeControl {
	width: 80px;
	cursor: pointer;
}

.name-song {
	float: right;
}

.volume-slider {
	width: 100px;
	float: right;
}

.volume {
	float: right;
}

.playlist {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.music {
	padding: 0.8em;
	font-size: 1.1em;
	color: var(--color-text);
	list-style-type: decimal-leading-zero;
}

.music:hover {
	background-color: var(--color-highlight-text);
}

.track, .button {
	cursor: pointer;
}
.time {
	float: right;
}
